body{
    background-color: rgb(144, 114, 168);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

 container{
        width: 80%;
        margin: 0%;
 }
  header {
      text-align: center;
      background-color: rgba(73, 0, 245, 0.39);
      padding: 10px;
      border-radius: 1px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
      

      .logo {
          float: left;
          padding: 10px; 

      }

      nav{
          float: right;



      }
      nav ul{
          margin: 0%;
          padding: 0%;
          list-style: none;

      }

     nav li {
         display: inline-block;
         margin-left: 15px;
         position: relative;

      }

     nav a {
         color: rgb(150, 44, 44);
         text-decoration: none;
         text-transform: uppercase;
         font-size: 14px;

      }

     nav a :hover {
         color: cornflowerblue;

      }

     nav a::before {
         content: none;
         display: block;
         height: 5px;
         background-color: darkgoldenrod;
         position: absolute;
         top: 0%;
         width: 30px;
        /* color scheme page */
      }
     h1 header {
              text-align: left;
      }
      table, th, td{
        border: 1px solid #13bde7;
        margin-top:25px;
        text-align:center;
        padding:10px;
        margin:0% auto;
      }
      
      #Green{
        background-color:#2bbae6;
        border-top:1px solid #9454dd;
        margin-top:20px;
      }
      #Red{
        background-color:#521616;
      }
      #lightBlue{
        background-color:#1a58eb;
        color:#84ec2e;
      }
      #Yellow{
        background-color:#8b1f86;
        border-bottom:1px solid #941b76;
        margin-bottom: 25px;
      }
      #Red, #lightBlue{
          color:rgb(196, 121, 121);
      }
      #Green, #lightBlue, #Red, #Yellow{
          border-right: 1px solid #cf2984;
          border-left: 1px solid #cf2984;
          text-align: center;
          padding:20px;
      }
      tbody{
        align-content: center;

      }
      #tableBody, #tParagraph, #tHeader, #tFooter, #tNavigation{
          font-weight: bold;
          color:#1b3a58;
      }
      #tableBorders, #tParagraph{
        background-color:#be5e5e;
      }
      #backdgound, #tFooter{
        background-color:#df350b;
        color:#FAFAFA;
        }
      #tNavgation{
        background-color:red;
        }
      /* Typography Page */
      
      #fontHeader, #fontH1{
        font-family: " Avenir next" sans-serif;
        font-size: 30px;
      }
      #fontH2{
        font-family: 'Bodoni oldstyle', serif;
        font-size: 30px;
      }
      #fontParagraph{
        font-family: "Helvetica Neuve", serif;
        font-size: 22px;
      }
      #fontFooter{
        font-family: "Helvetica Neue", Times, serif;
        font-size: 18px;
      }
      
      /* Target Audience Page*/
      table th td{
        display:block;
        list-style-type:block;
      }
       #persona1{
           display: block;
           width:auto;
        text-align:auto;

      }
        
      #persona2{
        margin-bottom:20px;
      }
      li.personaL1:hover{
        background-color: #203047;
      }

      footer {
        background-color: #000000;
        position: fixed;
        bottom: 0;
        text-align: center;
        left: 0;
        width: 100%;
        color: #ffffff;
        padding: 10px;
    }
    
    .footerInfo {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    
    #byuLink {
        align-self: center;
        color: white;
        padding-left: 4px;
    }
    
    #year {
        color: white;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .lastModified {
        color: rgb(205, 50, 58);
        justify-content: center;
        font-size: 11px;
        display: flex;
    
    }


