@media only screen and (min-width: 60em) {

    main, footer {
        max-width: 2000px;
        margin: 0 auto;
    }
    
    .heading, .motto  {
    font-size: 20px;
}

}

.weathersummary p{
        font-family: 'Adamani',serif;
        margin: 0;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;  
        padding: 10px 10px;
}



.container {
    margin-bottom: 5px;
    row-gap:1rem;
}

.container:hover {
   box-shadow: 3px 3px 3px 3px #0b75a7;
}