body{
 background-color: white;
 padding: 0;
  margin: 0;
}
 
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
}


ul li{
    padding-bottom: 0%;
}

h1{
    
        text-align: center;
        color:black;
        padding-left: 0px;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 1s;
  }
