@media only screen and (min-width: 60em) {

    main, footer {
        max-width: 960px;
        margin: 0 auto;
    }
    
    .heading, .motto  {
    font-size: 20px;
}

}

.weathersummary p{
        font-family: 'Adamani',serif;
        margin: 0;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;  
        padding: 10px 10px;
}
cards img {
    box-shadow: 10px 10px 5px 0px #ce320a;
    border-radius: 10px;
    width: 250px;
    padding: 0;
  }
  
  .cards {
    color: #b12a123d;
    font-size: .8em;
    margin: auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }
  .cards section {
    background-color: #2c9ee0;
    box-shadow : 0 0 25px #cc0c0c00;
    text-align: center;
    padding: 1em;
    margin: auto;
    font-weight: bold;
  }
  .cards p:nth-child(2){
    color: #d62710;
    font-family: Raleway, sans-serif;
    font-style: none;
    text-align: center;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 30px;
  }