body {
    background-color: white;
    padding: 0;
    margin: 0;
}


header {
    max-width: 100%;
    background-color: #533970;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.image {
    padding: 5px 10px 5px 0;
    max-width: 100%;
    height: 100px;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    background-color: #782e7a;
    padding: 0;
}

nav ul {
    margin-top: 1.5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Adamina', serif;
    padding: 20px;
}

.navigation a:hover {
    color: rgba(204, 104, 104, 0.815);
    background-color: #0aa89800;
}

.responsive li {
    display: block;
}

.beforefoot {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 500px 500px;
}

.sitehd, .motto {
    color: white;
    font-family: 'Noto Serif SC' serif;
}

.menu {
    font-size: 20px;
}

.placeholderbox {
    text-align: left;
    font-family: 'Noto Serif TC', serif;
    padding: 10px;
    margin: 0 auto;
    background-color: #4fb66e;
    border: #8a9668 dotted 2px;
    color: black;
    margin-bottom: 15px;
}

footer {
    background-color: #030405;
    color: white;
    text-align:center;
    padding: 1%;
    font-family: 'Avenir next', sans-serif;
    font-size: 15px;
}