body {
    background-color: white;
    padding: 0;
    margin: 0;
}
.navigation {
    display: flex;
}
.navigation li {
    display: block; 
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}


header {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #533970;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}
  .byline{ 
      text-align: center;
      line-height: 1.5em;
}
.image {
    padding: 5px 10px 5px 0;
    max-width: 100%;
    height: 100px;
}

h1{
    font-family: 'Adamani', serif;
    font-size: 60px;
    color:white;
    grid-column:2/3;
    grid-row:1/2;
   
}
h2{
    font-family: 'Noto', serif;
    font-size: 200%;
    color:#FAFAFA;
    background-color: #030405;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    background-color: #782e7a;
    padding: 0;
}

nav  ul {
    margin-top: 1.5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Adamina', serif;
    padding: 20px;
}

.navigation a:hover {
    color: rgba(204, 104, 104, 0.815);
    background-color: #0aa89800;
}

.responsive li {
    display: block;
} 

.beforefoot {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 500px 500px;
}

.heading, .motto {
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    margin-bottom: 5px;
}

.menu {
    font-size: 20px;
}

.weathersummary {
    display: flex;
    top: 25px;
    left: 25px;
    bottom: 25px;
    padding: .5rem;
    color: #5658c5;
    font-weight: bold;
    font-family: Adamani, sans-serif;
  }

.summary p {
    text-align: left;
}

.forecast {
    display: none;
}




table{
    width: fit-content;
    
}

th,td{
    padding: 7px 10px 10px 10px;

}

 th{
     text-transform: none;
     letter-spacing: 0.1em;

}



footer {
    background-color: #030405;
    color: white;
    text-align:center;
    padding: 1%;
    font-family: 'Avenir next', sans-serif;
    font-size: 15px;
}


