body {
    background-color: white;
    padding: 0;
    margin: 0;
}
.navigation {
    display: flex;
}
.navigation li {
    display: block; 
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}


header {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #612222;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}
  .byline{ 
      text-align: center;
      line-height: 1.5em;
}
.image {
    padding: 5px 10px 5px 0;
    max-width: 100%;
    height: 100px;
}

h1{
    font-family: 'Adamani', serif;
    font-size: 60px;
    color:white;
    grid-column:2/3;
    grid-row:1/2;
   
}
h2{
    font-family: 'Noto', serif;
    font-size: 200%;
    color:#FAFAFA;
    background-color: #f1f1f1;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    background-color: #3b6aecf8;
    padding: 0;
}

nav  ul {
    margin-top: 1.5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Adamina', serif;
    padding: 20px;
}

.navigation a:hover {
    color: rgba(204, 104, 104, 0.815);
    background-color: #0aa89800;
}

.responsive li {
    display: block;
} 

.beforefoot {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 500px 500px;
}

.heading, .motto {
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    margin-bottom: 5px;
}

.menu {
    font-size: 20px;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.summary {
    /*display: flexbox;*/
    /*position: absolute;*/
    background-color: cornflowerblue;
    height: 200px;
    font-family: sans-serif;
    padding:2px 10px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 10px;
    text-align: right;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    z-index: 20;
}
.weatherimg {
    grid-column: 1;
    grid-row: 1/2;
    z-index: 10;
}


.summary p {
    font-family: 'Noto Serif', serif;
    font-size: 15px;

}
.dayforecast > h3 {
    text-align: center;

 }



h2 {
    margin-top: 10px;
    color: #0f1c92;
}

.item1 {
    background-color: #767c21;
    text-align: center;
    
}

.item1 img {
    padding: 2px;
}

.forecast img {
    margin: auto;
    background-repeat: no-repeat;
    height: 50px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #987abe02;
  }

.item1 {
    border-radius: 10px;
    margin-top: 20px;
    background-color: #22ceec;
    padding-top: 10px;
    display: center;
}

.item2 p {
    font-size: 20px;
    padding: 30px;
}

.item3 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}



.dv-item3  {
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    padding: 10px;
    background-color: #32659400;
}

.item3 .info{
      text-align: right;
}


.container {
    display: flex;
    text-align: center;
    width: 100%;
    background-color: #96adad;
    margin: 20px -10px;
    padding: 10px 10px 20px 10px;
}

p{
    color: black;
}

.socialmedia{
    display: flex;
    background-color: rgb(248, 248, 248);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 5px 0 0;
    text-align: right;
    
}


.map img {
    width: 80%;
    box-shadow: 5px 5px 7px #9a8edd;
}



.icons {
    margin-right: 65px;
}
.item1 {
    border-radius: 10px;
    margin-top: 20px;
    background-color: #22ceec;
    padding-top: 10px;
    display: center;
}

.item2 p {
    font-size: 20px;
    padding: 30px;
}

.item3 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    z-index: 20;
}
.info img {
    z-index: 20;
}

.info  {
    display: flex;
}

.dv-item3  {
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    padding: 10px;
    background-color: #32659400;
}

.item3 .info{
      text-align: right;
}

.infoHeader {
    text-align: center;
    font-size: 25px;
}
.container {
    text-align: center;
    width: 100%;
    background-color: #96adad;
    margin: 20px -10px;
    padding: 10px 10px 20px 10px;
    z-index: 0;
    display: block;
    
}

.p{
    color: black;
}
.contact {
    list-style: none;
}

#socialmedia {
    background-color: #96adad;
    margin-left: 40%;
    display: flex;
    
}


.map img {
    width: 80%;
    box-shadow: 5px 5px 7px #9a8edd;
}
footer {
    background-color: #030405;
    color: white;
    text-align:center;
    padding: 1%;
    font-family: 'Avenir next', sans-serif;
    font-size: 15px;
}


