@media only screen and (min-width: 32.5em) {
    
    
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
    .cards p:nth-child(2){
        font-family: Raleway, sans-serif;
        font-style: none;
        text-align: center;
        font-weight: bold;
        margin-top: -15px;
        margin-bottom: 30px;
      }
      .container1{
          background-color: paleturquoise;
          border-radius: 15px;
          margin-top: 40px;
          margin-bottom: 60px;
          text-align: center;
      }
    }