body {
    background-color: white;
    padding: 0;
    margin: 0;
}
.navigation {
    display: flex;
}
.navigation li {
    display: block; 
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}


header {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #551c1556;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 0%;
}
  
.cozey{
    display: block;
    margin-right: 0%;
    width: 70%
    
    
}


.heroDiv{
    margin-top: auto;
    max-width: 100%;
    margin: 90x auto;
    padding: 50px;
    position: relative
    
}

#logo{

    height:auto;
    width:100%;
    grid-column:1/2;
    grid-row:1/2;
}

h1{
    color: white;
  
}

h2{
    display: center;
    text-align: center;
    font-family: 'Adamani', serif;
    text-transform: uppercase;
    font-size: 60px;
     color: blue;

}

P{
    text-align: center;
    color:red;
    padding: 1px;
}

#figcation{
    color: blue;
}




#para{
    display: center;
    color:red;

}

nav {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    background-color: #3b6aecf8;
    padding: 0;
}

nav  ul {
    margin-top: 1.5px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Adamina', serif;
    padding: 20px;
}

.navigation a:hover {
    color: rgba(204, 104, 104, 0.815);
    background-color: #0aa89800;
}

.responsive li {
    display: block;
} 

.beforefoot {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 500px 500px;
}



.menu {
    font-size: 20px;
}

.weather {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.summary {
    /*display: flexbox;*/
    /*position: absolute;*/
    background-color: cornflowerblue;
    height: 200px;
    font-family: sans-serif;
    padding:40px 15px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    z-index: 20;
}
.dayforecast > h3 {
    text-align: center;

 }


.summary P{
    font-family: 'Adamina', serif;
    font-size: 20px;

}


#heroImg {
    display: contents;
    width: 200%;
}


details{
    padding-right: 12px;
	border:1px solid #ddd;
   border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);

}


.list-2 li{
    display: grid;
    text-align: -webkit-match-parent;
    padding: 13px 0 11px 41px;
    font-size: 15px;
    color: #333333;
}


.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0%;
    margin-top: 0%;
}

.item3 img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    z-index: 20;
}


.forecast img {
    margin: auto;
    background-repeat: no-repeat;
    height: 50px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #987abe02;
  }

.info img {
    z-index: 20;
}

.info  {
    display: flex;
   
}

.contact {
    list-style: none;

}

.infoHeader {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

.dayforecast > h3 {
    text-align: center;
    padding: 0%;
 }


.item1 img {
    padding: 2px;
}

.forecast img {
    margin: auto;
    background-repeat: no-repeat;
    height: 50px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #987abe02;
}

.item1 {
    border-radius: 10px;
    margin-top: 20px;
    background-color: #22ceec;
    padding-top: 10px;
    display: center;
}


.dv-item3  {
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    padding: 10px;
    background-color: #32659400;
}

.item3 .info{
      text-align: right;
}


.map img {
    width: 10%;
    box-shadow: 5px 5px  #9a8edd;

}

#socialmedia {
    background-color:none;
    margin-left: 40%;
    padding-left: 30px;
    display: flex;
    
}
    




footer {
    background-color: #030405;
    color: white;
    text-align:center;
    padding: 1%;
    font-family: 'Avenir next', sans-serif;
    font-size: 15px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }